@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-white: #FEFDFB;
    --color-olive: #8B9B7F;
    --color-brown: #DCD1BF;
    --color-dark: #33302E;
}

body {
    font-family: "Poppins", sans-serif;
}

/* nav  */
nav {
    background-color: var(--color-dark);
    color: var(--color-white);
}

nav .navbar-brand img {
    width: 140px;
}

nav .navbar-collapse {
    flex-grow: 0;
}

nav .nav-link,
nav .navbar-nav .nav-link.active,
nav .navbar-nav .nav-link.show {
    color: var(--color-white);
}

nav .nav-link {
    position: relative;
    transition: all .4s;
    font-size: 20px;
    display: inline-block;
}

nav .nav-link::after,
nav .navbar-nav .nav-link.active::after,
nav .navbar-nav .nav-link.show::after {
    content: "";
    position: absolute;
    height: 2px;
    left: 50%;
    right: 0;
    bottom: 0;
    background: var(--color-white);
    width: 0%;
    transition: all .4s;
    transform: translateX(-50%);
}


nav .nav-link:hover,
nav .navbar-nav .nav-link:focus {
    color: var(--color-white);

}

nav .nav-link:hover::after,
nav .navbar-nav .nav-link.active:hover::after,
nav .navbar-nav .nav-link.nav-link:focus::after {
    width: 90%;
}

.navbar-toggler {
    background: var(--color-white);
}

.navbar-toggler {
    background: var(--color-white);
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* hero banner */
.hero-banner {
    background-image: url(../images/top-ellipse.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-banner img {
    max-width: 100%;
}

/* header-title-section */
.header-title-section {
    margin-top: 40px;
    margin-bottom: 88px;

}

.header-title-section h2 {
    margin-bottom: 48px;
}

.header-title-section a {
    padding: 20px 56px;
}


/* showcase01 */

.showcase01 {
    padding: 88px 0;
}

.showcase01 .product {
    padding: 24px;
}

.showcase01 .product img {
    height: 320px;
}

.showcase01 .product a {
    width: 100%;
    padding: 20px 0;
}

/* about-us */
.about-us-section {
    padding: 88px 0;
    background: var(--color-olive);
    color: var(--color-white);
}

.about-us-section h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 62.4px;
    text-align: left;
    border-bottom: 1px solid;
}

.about-us-section p {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;


}

.about-us-section .content a {
    background: var(--color-white);
    color: var(--color-olive);
    border: 1px solid;
    padding: 15px 50px;
}

.about-us-section .content a:hover {
    color: var(--color-white) !important;
    background: var(--color-olive) !important;
    border-color: var(--color-white) !important;

}

/* suggestion-section */
.suggestion-section {
    padding: 88px 0;
}

.suggestion-section h2 {
    text-align: center;


}


.suggestion-section .content .img {
    padding: 35px 0;
    position: relative;
}



.suggestion-section .content .img .wish {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    background: transparent;
}

.suggestion-section .content h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;

}

.suggestion-section .content h6 {
    font-size: 28px;
    font-weight: 500;
    line-height: 36.4px;


}

/* customers-reviews */
.customers-reviews {
    padding: 88px 0;
    color: var(--color-dark);
    background: var(--color-brown);
}

.customers-reviews .review {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
}


.customers-reviews .review h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 36.4px;
    text-align: center;
    padding-top: 16px;
    height: 25%;
}

.customers-reviews .review p {
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    padding-bottom: 24px;
    padding-top: 10px;
    height: 65%;
    margin: 0;
    margin-top: 5px;
}

.customers-reviews .review h4 {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
    height: 10%;
}

/* services-section */
.services-section {
    padding: 88px 0;
}

.services-section .service span {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
}

/* get-touch */
.get-touch {
    padding: 88px 0;
    background: var(--color-olive);
}

.get-touch .section-title02 h2 {
    color: var(--color-white);
    border-color: var(--color-white);
}

.get-touch p {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: var(--color-white);
    margin-bottom: 48px;

}

.get-touch a {
    border: 1px solid var(--color-white);
}

/* community-section*/
.community-section {
    padding: 88px 0;
}

.community-section .content h3,
.community-section .content p {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

.community-section .content p {
    font-style: italic;
    padding-top: 52px;
}

/* footer */
footer {
    background: var(--color-dark);
    padding-top: 88px;
    color: var(--color-white);
}

.footer-top p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    margin-top: 16px;
}

.footer-top h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    margin-bottom: 24px;

}

.footer-top ul {
    padding: 0;
}

.footer-top ul li {
    list-style: none;
    margin: 8px 0;
}

.footer-top .content {
    width: 60%;
}

.footer-bottom {
    border-top: 1px solid var(--color-white);
    padding: 40px 0;
    margin-top: 40px;
}

.footer-bottom p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: right;
}

/*=============common style============== */
.section-title {
    font-size: 86px;
    max-width: 786px;
    font-weight: 500;
    text-align: center;
}

.section-title span {
    font-weight: 700;
}

.section-title02 {
    text-align: center;
}

.section-title02 h2 {
    padding-bottom: 24px;
    margin-bottom: 48px;
    font-size: 48px;
    font-weight: 450;
    line-height: 62.4px;
    letter-spacing: -0.02em;
    font-style: italic;
    border-bottom: 1px solid var(--color-dark);
    display: inline-block;
}

.section-title02 span {
    font-weight: 600;
    font-style: normal;

}

.custom-btn {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    background: var(--color-olive);
    color: var(--color-white);
    border-radius: 100px;
    border: 1px solid;
    transition: all .4s;
    border: none;

}

.custom-btn:hover {
    color: var(--color-olive);
    background: var(--color-white);
    border-color: var(--color-olive);
}

/*=============common style============== */




@media (max-width: 991.98px) {
    .section-title {
        font-size: 84px;

    }
}

@media (max-width: 767.98px) {
    .header-title-section {
        margin-top: 40px;
        margin-bottom: 0px;

    }

    .header-title-section h2 {
        margin-bottom: 28px;
    }

    /* showcase01 */
    .showcase01,
    .suggestion-section,
    .about-us-section,
    .customers-reviews,
    .services-section,
    .community-section {
        padding: 58px 0;
    }

    .showcase01 .product {
        padding: 10px 24px;
    }

    .showcase01 .product img {
        height: auto;
    }

    .showcase01 .product a {
        width: 100%;
        padding: 15px 0;
    }

    /* showcase01 */


    .section-title02 h2 {
        margin-bottom: 8px;
    }

    .suggestion-section .content {
        margin: 20px 0;
        padding: 0;
    }

    .suggestion-section .content .img {
        padding: 55px 0px 0px 0;
        position: relative;

    }

    .suggestion-section .content h5 {
        margin-bottom: 4px;

    }

    .section-title {
        font-size: 50px;
    }

    .about-us-section h2 {
        line-height: 45.4px;


    }

    .section-title02 h2 {
        font-size: 40px;
        line-height: 52.4px;


    }

    /* .customers-reviews */

    .customers-reviews .row {
        padding: 0 3px;
    }

    .customers-reviews .review h3 {
        font-size: 22px;
        height: auto;
    }

    .customers-reviews .review p {
        padding-bottom: 0px;
        font-size: 18px;
        text-align: start;
        height: auto;
    }

    .customers-reviews .review h4 {
        margin-top: 0px;
        text-align: start;
        font-size: 18px;
        height: auto;
    }

    /* services-section  */
    .services-section .service {}

    .services-section .row {
        margin-top: 20px;
    }

    /* community-section*/
    .community-section .row .content {
        margin-top: 20px;
    }

    .community-section .content p {
        font-style: italic;
        padding-top: 20px;
    }

}

@media (max-width: 575.98px) {
    .section-title {
        font-size: 38px !important;
    }

    .header-title-section a {
        padding: 15px 56px;
    }


}